.sidebar {
  flex: 1;
  /* height: calc(100vh - 50px); */
  min-width: 300px;
  height: 100%;
  background-color: rgb(0, 131, 50);
  position: sticky;
  top: 50px;
  border-radius: 10px;

 
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
 
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(252, 240, 240);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}
.sidebarList Link li:hover{
  text-decoration: none;

}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 15px;
  color: wheat;
  text-decoration: none;
 
}
.sidebarListItem li {
  text-decoration: none;
}

.sidebarListItem.active,
.sidebarListItem:hover,
.sb-sidenav-menu-nested:hover {
color: antiquewhite;
  text-transform: uppercase;
  text-decoration: none;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
    color:  #00B74A;
    
}
